* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.browser-history-container {
  width: 120vw;
  min-height: 100vh;
  background-color: #ececec;
}
.history-header-section {
  height: 12vh;
  width: 120vw;
  background-color: #3367d6;
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 20px;
}
.history-logo {
  height: 60px;
  width: 130px;
  align-self: flex-start;
}
.search-bar-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 300px;
}
.search-logo-box {
  background-color: #2850a7;
  height: 60px;
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  border-width: 0px;
}
.search-logo {
  height: 40px;
  width: 50px;
}
.search-bar {
  height: 60px;
  width: 30vw;
  font-size: 30px;
  color: #ffffff;
  background-color: #2850a7;
  border-width: 0px;
}

.history-bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 120vw;
  background-color: #ececec;
}
